#!/bin/bash
# ascent config file
# https://github.com/boddenberg-it/ascent

# device 0
serial_0=05cd99e0f0dd9bc8
msisdn_0=000
name_0=nexus5

# device 1
serial_1=4df1d42174595f61
msisdn_1=001
name_1=s3
